.idea

end_to_end_tests/screenshots
end_to_end_tests/performance_info
end_to_end_tests/tmp
nightwatch/node_modules
nightwatch/screenshots
nightwatch/reports
nightwatch/*.log
/mycredentials

**/npm-debug.log

fe
be